<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.mp3edw.ldm.songetapp"
        versionCode = "1"
        version     = "1.0.0" >

    <name>Songet App</name>

    <description>Free share music</description>

<plugin name="cordova-plugin-whitelist" />
<access origin="*" />
</widget>